.community-image-fixed-height {
  height: 144px !important;
}

.awards-title {
  font-weight: 400 !important;
  font-size: 26px !important;
  line-height: 52px !important;
  min-height: 104px !important;
}


.awards-title-para {
  font-size: 18px !important;
  font-weight: 400 !important;
  text-align: center !important;
}

.about-video-text-margin {
  margin-top: 0px;
}

.sponsorship-card-spacing {
  padding-right: 5px !important;
  padding-left: 5px !important;
}


.award-number {
  font-weight: 400;
  font-size: 26px;
  line-height: 52px;
}

.colored-shadow-pro-bono {
  opacity: 1;
}
