body {
  margin: 0;
  padding: 0;
}


@media all and (max-width: 991px) {
  .hero-text-margin{
    margin-top: 100px;
  }

  .home-about-section{
    padding-bottom: 21px;
    padding-top: 53px;
  }

  .home-team-section{
    padding-top: 34px;
    padding-bottom: 46px;
  }

  .home-article-section {
    padding-bottom: 0px;
    margin-bottom: -14px;
    .home-article-desktop-title{
      display: none;
    }
    .home-article-mobile-title{
      display: block;
    }
  }

  .home-client-section {
      padding-top: 49px;

  }

  .footer-question-text{
      font-size: 16px !important;
  }

  .awards-image-section {
      margin-top: 29px;
  }

  .main-raised{
      margin: 0;
      border-radius: 0;
  }

  .teampage-container {
      margin-top: -37px !important;
  }

  .testimonialpage-first-video{
    margin-bottom: 3em !important;
  }
}
