#video-background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: all 2s cubic-bezier(0.835, 0, 0.19, 1);
}

#iframe-rounded-corner {
  border: 4px solid #000;
  border-radius: 4px !important;
}

#spinner-middle {
  position: fixed;
  top: 50%;
  left: 50%
}

a:hover,a:visited,a:active,a:link {
  color: #3C4858;
}

.no-padding-bottom {
  padding-bottom: 0
}

.article-author {
  margin-left: 4px
}

.footer-background-transparent {
    background: transparent !important;
}

.hero-paragraph-text {
  font-weight: 400;
  font-size: 18px;
}


// .my-filter{
//   position: absolute;
//   z-index: 1;
//   width: 100%;
//   height: 100%;
//   display: block;
//   left: 0;
//   top: 0;
//   content: "";
//   background-color: rgba(0, 0, 0, 0.5);
// }
//
// .my-background {
//   background-color: rgba(0, 0, 0, 0.5);
// }

.home-article-mobile-title{
  display: none;
}

.testimonialpage-quote-format{
  font-size: 16px;
  vertical-align: super;
}

@media all and (max-width: 991px) {
  .hero-text-margin{
    margin-top: 100px;
  }

  .home-about-section{
    padding-bottom: 21px;
    padding-top: 53px;
  }

  .home-team-section{
    padding-top: 34px;
    padding-bottom: 46px;
  }

  .home-article-section {
    padding-bottom: 0px;
    margin-bottom: -14px;
    .home-article-desktop-title{
      display: none;
    }
    .home-article-mobile-title{
      display: block;
    }
  }

  .home-client-section {
      padding-top: 49px;

  }

  .footer-question-text{
      font-size: 16px !important;
  }

  .awards-image-section {
      margin-top: 29px;
  }

  .main-raised{
      margin: 0;
      border-radius: 0;
  }

  .teampage-container {
      margin-top: -37px !important;
  }
}
