.logo-font {
  font-size:33px !important;
  font-weight:600 !important;
  line-height:26.4px !important;
}

.nav-project-specfic {
  font-size: 20px !important;
  text-transform: none !important;
  font-weight: 800 !important;
}
